form {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.bloc {
    margin: 10%;
}

div {
    margin: 0px;
    padding: 0px;
}

button {
    margin-top: 2%;
}

p {
    font-size: 0.8em;
    margin: 0px;
    padding: 0px;
    color: red;
}